.carousel-control.left, .carousel-control.right{ 
    background: none !important;
    filter: progid:none !important;>
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control {
  opacity: 0.3;
  filter: alpha(opacity=30);
  font-size: 30px;
  color: #333333;
}

.column-title{
  text-align: center;
}

.carousel-caption-below {
  margin-top: 15px;
}

.plot-title{
  text-align: center;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
  position: inline;
}

img.replace-carousel {
  margin: 0 auto;
  text-align: center;
}


